@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif,;
}

:root{
    --color-card: #ffffff;
    --color-primary:#7d79c4;
    --color-text: #09090E;
    --color-input: #1e293b;
    --color-placeholder: #1b222c;
    --color-border: #334155;

}

body.dark-theme {
    --color-card: #1e291b;
    --color-textarea: #1b222c;
    --color-text: #f3f4f6;
    --color-input: #1e293b;
    --color-border: #242b35;
    --color-placeholder: #1b222c;
    background: var(--color-card);
    background-image: radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 35%), radial-gradient(circle at 85% 30%, rgba(139, 92, 246, 0.15) 0%, transparent 35%), radial-gradient(circle at 50% 80%, rgba(99, 102, 241, 0.1) 0%, transparent 40%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    background: linear-gradient(#E9E9FF, #C8C7);
    color: var(--color-text)
}

.container{
    width: 900px;
    padding: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 23px;
    background: var(--color-primary);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
}

body.dark-theme .container{
    background: var(--color-border);
    border: 1px solid var(--color-border);
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #1b1b9b;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo-wrapper{
    display: flex;
    gap: 18px;
    align-items: center;
}

.header .logo-wrapper .logo{
    height: 55px;
    width: 56px;
    display: flex;
    color: #fff;
    font-size: 1.35rem;
    flex-shrink: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background: rgb(81, 58, 194);
}

.header .logo-wrapper h1 {
    font-size: 1.9rem;
    font-weight: 700;
}

header .theme-toggle {
    height: 43px;
    width: 43px;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    color: #1b1b9b;
    align-items: center;
    justify-content: center;
    background: #8080a3;
    border: 1px solid #a8a8c5;
    border-radius: 50%;
    transition: all 0.3s ease;
}

header .theme-toggle:hover {
    color: #5C56E1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin: 35px 0 5px;
}

.main-content .prompt-container {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.prompt-container .prompt-input {
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    padding: 16px 20px;
    border-radius: 15px;
    color: #5C56E1;
    background: #c2c1cd;
    border: 1px solid rgb(81, 58, 194);
    overflow: hidden;
    transition: all 0.3s ease;
}

.prompt-container .prompt-input::after {
    outline: none;
    border-color: rgb(234, 2, 2);
    box-shadow: 0 0 0 4px rgba(139, 92, 246, 0.15);
}

.prompt-container .prompt-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: rgb(81, 58, 194);
    border: none;
    color: #fff;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.prompt-container .prompt-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content .prompt-action {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
}

.prompt-action .custom-select:is(::after, :hover) {
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.1);
}

.prompt-action .select-wrapper{
    margin-right: 10px;
}

.prompt-action .select-wrapper::after {
    content: "";
    font-family: "font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 0.9rem;
    padding-left: 7px;
    pointer-events: none;
    background: #09090E;
    color: #fff;
    transform: translateY(-50%);
}

.prompt-action :where(.custom-select, .generate-btn){
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid blue;
    background: #c3c4d4;
    transition: all 0.3s ease;
}

.prompt-action .custom-select {
    width: 100%;
    outline: none;
    height: 100%;
    
    /* appearance: none; */
}

.prompt-action .generate-btn {
    display: flex;
    gap: 12px;
    font-weight: 500;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border: none;
    background: rgb(81, 58, 194);
    color: #fff;
}

.prompt-action .generate-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(109, 40, 217, 0.3);
}

.main-content .gallery-grid {
    display: grid;
    gap: 15px;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.gallery-grid .img-card .result-img {
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    object-fit: cover;
}

.gallery-grid .img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 16px;
    background: #6767a6;
    transition: all 0.5s ease;
}

.gallery-grid .img-card:not(.loading, .error):hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.gallery-grid .img-card:is(.loading, .error) :is(.result-img, .img-overlay) {
    display: none;
}

.gallery-grid .img-card .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    transition: all 0.6s ease;
}

.gallery-grid .img-card:hover .img-overlay {
    opacity: 1;
    pointer-events: auto;
}

.gallery-grid .img-card .img-download-btn {
    height: 40px;
    width: 40px;
    color: #fff;
    backdrop-filter: blur(5);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}

.gallery-grid .img-card .img-download-btn:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.4);
}

.gallery-grid .img-card .status-container {
    padding: 15px;
    display: none;
    gap: 13px;
    flex-direction: column;
    align-items: center;
}

.gallery-grid .img-card:where(.loading, .error) .status-container {
    display: flex;
}

.gallery-grid .img-card.loading .status-container svg,
.gallery-grid .img-card.error .spinner {
    display: none;
}

.gallery-grid .img-card.error .status-container svg {
    font-size: 1.7rem;
    color: #e63939;
}

.gallery-grid .img-card.loading .spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid rgb(78, 80, 153);
    border-top-color: blue;
    /* animation: spin 1s linear infinite; */
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.gallery-grid .img-card .status-text {
    font-size: 1rem;
    text-align: center;
    color: #b0b0c0;
}

